<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>gallery</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-item>
      <ion-label>Keyword: </ion-label>
        <ion-input type="text" [(ngModel)]="keyword"></ion-input>
        <ion-button (click)="onLoadImages()">
        <ion-icon name="search"></ion-icon>
      </ion-button>
    </ion-item>
    </ion-card-content>
  </ion-card>
    <ion-list *ngIf="dataImages">
      <ion-card *ngFor="let img of dataImages">
        <ion-item>
          <ion-avatar slot="start">
            <ion-img src="{{ img.userImageURL }}"></ion-img>
          </ion-avatar>
          <ion-label>{{ img.user }}</ion-label>
        </ion-item>
        <ion-item>
          {{ img.tags }}
        </ion-item>
      <ion-card-content>
        <ion-img src="{{ img.previewURL }}"></ion-img>      
      </ion-card-content>
      <ion-card-content>
        <ion-row color="primary">
          <ion-col>
            <ion-button fill="outline" size="small">
              <ion-icon name="thumbs-up"></ion-icon>
                {{ img.likes }}
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button fill="outline" size="small">
              <ion-icon name="eye"></ion-icon>
                {{ img.views }}
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button fill="outline" size="small">
              <ion-icon name="text"></ion-icon>
                {{ img.comments }}              
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-card-content>
      </ion-card>
    </ion-list>

    <ion-infinite-scroll (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>
